@import '~src/styles/variables';

.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    padding: $padding-default;
    display: flex;
    flex-direction: row;
    min-height: 400px;
    min-width: 550px;
    border-radius: $border-radius-large;
    background-color: $main-color;
    box-shadow: $shadow-default;
  }

  &__left {
    display: flex;
    width: 100%;
    background-image: url("~src/assets/login-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__right {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  &__logo {
    margin-top: 34px;
    height: 60px;
    width: 125px;
  }

  &__form {
    display: flex;
    padding: $padding-x2;
    width: 100%;
  }
}


