@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//font
$font: 'Roboto', sans-serif;

// colors
$white: #ffffff;
$black: #1C1920;
$red: #FF0017;
$dark-red: #EC3A4A;
$light-grey: #E6E6F4;
$grey: #B4AAC1;

$dark-blue-1: #1F1E2D;
$dark-blue-2: #12121D;

// theme colors
$main-color: $white;
$secondary-color: $light-grey;
$accent-color: $dark-red;


$text-color: $black;
$label-color: $grey;

$error: $red;

$background-gradient-color: linear-gradient(180deg, $dark-blue-1 0%, $dark-blue-2 100%);

// borders
$border-radius-small: 8px;
$border-radius-default: 16px;
$border-radius-large: 24px;

// padding/margin
$margin-default: 16px;
$margin-x2: $margin-default * 2;

$padding-default: 16px;
$padding-large: 24px;
$padding-x2: $padding-default * 2;

// shadows
$shadow-default: 0px 16px 40px rgba(0, 0, 0, 0.24);
