$border-radius-default: 16px;

$shadow-large: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// main colors
$main-color: #414155;
$secondary-color: #636378;
$secondary-color: #636378;
$neutral-color: #ffffff;

// colors
$light-grey: #CBCCCE;
